@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

:root {
  --background: hsla(260, 40%, 5%, 1);
  --foreground: white;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: 'Nunito', sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(260, 40%, 5%, 1);
    --foreground: white;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Nunito', sans-serif;
}

html {
  scroll-behavior: smooth;
}
